/* irc.less - Run through dotLess compiler to create irc.css output */
.navbar-redness {
  background-color: #aa3a50;
  border-color: #aa3a50;
}
.irc-nav {
  margin-top: 15px;
}
.irc-nav a {
  margin-left: 20px;
}
.irc-nav a:link {
  color: #dba0ac;
  text-decoration: none;
}
.irc-nav a:visited {
  color: #dba0ac;
  text-decoration: none;
}
.irc-nav a:hover {
  color: white;
  text-decoration: none;
}
.irc-jumbo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  line-height: 25pt;
  color: #777777;
  padding-left: 10px;
  margin-top: 40px;
}
.channel-name-header {
  color: #cccccc;
  font-family: 'Raleway', sans-serif;
  font-size: 26pt;
  font-weight: normal;
}
.channel-name-header small {
  font-size: 14pt;
}
span.elapsed {
  font-size: 10pt;
  color: #aaaaaa;
}
tr.new-link td {
  background-color: #f6f6f6;
}
.link-table td {
  font-family: Roboto;
  font-size: 10pt;
}
.link-table td a:link {
  color: #00a1df;
  text-decoration: none;
}
.link-table td a:visited {
  color: #cccccc;
  text-decoration: none;
}
.irc-error {
  color: #888888;
}
.irc-error strong {
  color: #aa5a70;
}
.mod-action {
  cursor: pointer;
}
.mod-action-nsfw {
  color: red;
}
.mod-action-unnsfw {
  color: #55aa55;
}
.url-nsfw {
  font-weight: bold;
  color: red;
  font-size: 9pt;
}
span.mod-action {
  display: none;
}
tr.channel-row:hover span.mod-action {
  display: block;
}
.irception-nav .navbar-brand {
  padding-left: 5px;
}
.irception {
  padding-top: 25px;
}
.irception a:link {
  color: #00a1df;
  text-decoration: none;
}
.irception a:visited {
  color: #00a1df;
  text-decoration: none;
}
.irception a:hover {
  text-decoration: none;
}
.irception a.red-link {
  color: red;
}
.irception .nick-column-width {
  width: 120px;
}
.irception .crumbs {
  color: #cccccc;
  font-size: 21pt;
  font-family: Raleway;
  font-weight: normal;
  padding: 0px;
}
.irception hr.hr-grid-top {
  border-top: solid 1px #dddddd;
  margin-bottom: 0px;
  margin-top: 0px;
}
.irception thead tr th {
  border-bottom-color: #dddddd;
  padding: 0px;
}
.irception .url-row-padding {
  padding-left: 8px;
}
.irception table.small-crumbs .crumbs {
  font-size: 14pt;
}
.mod-section-row > div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mod-section {
  color: #aa3a50;
  text-align: right;
  font-family: Roboto;
  font-size: 15pt;
}
.mod-section-contents {
  border-left: solid 1px #dddddd;
}
.mod-section-contents > p {
  color: #aaaaaa;
  font-family: Roboto;
  font-size: 10pt;
  margin-top: 7px;
}
.mod-section-contents ul {
  list-style: none;
  padding-left: 0px;
}
.mod-section-contents ul li {
  padding-left: 0px;
}
.mod-section-contents ul li:hover .mod-links {
  display: inline;
}
.mod-section-contents .mod-link a:link {
  text-decoration: none;
  color: #aa3a50;
}
.mod-section-contents .mod-links {
  display: none;
  border-left: solid 1px #dddddd;
  margin-left: 15px;
  padding-left: 15px;
}
.channel-visit-time {
  color: #666666;
  font-size: 10pt;
}
.irception-directive-user {
  font-family: Raleway;
}
