
<div class="container irception">
    <div class="row">
                
        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
            
            <table class="table table-hover link-table">
                <thead>
                    <tr>
                        <th style="width: 90px;"></th>
                        <th></th>
                        <th class="url-row-padding" colspan="2">
                            <span class="crumbs">                                
                                / {{ vm.NetworkSlug }}
                                / {{ vm.ChannelSlug }}

                                <span class="pull-right">
                                    
                                    <a href="" ui-sref="statsLines({ networkSlug: vm.NetworkSlug, channelSlug: vm.ChannelSlug })">
                                        lines
                                    </a>

                                    <a href="" ui-sref="statsraces({ networkSlug: vm.NetworkSlug, channelSlug: vm.ChannelSlug })">
                                        &middot; race
                                    </a>

                                    <a ui-sref="mod({ networkSlug: vm.NetworkSlug, channelSlug: vm.ChannelSlug })">
                                        &middot; mod
                                    </a>
                                </span>
                            </span>                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="url in vm.URLs | orderBy: '-AtTicks' " ng-class="{ 'new-link': url.SecondsElapsed < 3600 }" class="channel-row">
                        <td class="text-center"><span class="elapsed">{{ url.ElapsedString }}</span></td>
                        <td class="text-center nick-column-width">{{ url.Nick }}</td>
                        <td class="url-row-padding">
                            <div ng-if="url.Type == null">
                                <span ng-show="url.NSFW" class="url-nsfw">NSFW</span>
                                <a href="" ng-href="{{ url.URL }}" target="_blank">{{ url.URL }}</a>                                
                            </div>
                                                    
                            <div ng-if="url.Type == 'youtube'">
                                <span style="float:left; margin-right: 10px;">
                                    <a href="" ng-href="{{ url.URL }}" target="_blank"><img ng-src="{{ url.Thumbnail }}" width="48" title="{{ url.Description }}" alt="{{ url.Decription }}" style="border: 0px; cursor: pointer;" /></a>
                                </span>
                                
                                <i>{{ url.Title }}</i><br />
                                <span ng-show="url.NSFW" class="url-nsfw">NSFW</span>
                                <a href="" ng-href="{{ url.URL }}" target="_blank">{{ url.URL }}</a>                                
                            </div>             
                        </td>
                        <td ng-if="vm.Permission.attr">
                            <span class="mod-action mod-action-nsfw" ng-click="vm.setNSFW(url.URLID)" ng-if="! url.NSFW"><nobr>+NSFW</nobr></span>
                            <span class="mod-action mod-action-unnsfw" ng-click="vm.unsetNSFW(url.URLID)" ng-if="url.NSFW"><nobr>-NSFW</nobr></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>