
<div class="container">
    <div class="row">

        <div class="col-md-3 col-md-offset-4" style="margin-top: 40px;">

            <div style="margin-top: 50px;" class="text-center">
                <img src="img/irception-white-bg.png" alt="irception" />
            </div>

            <hr />
            <form class="form">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.username" id="inputUsername" placeholder="Choose a username" />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" ng-model="vm.password" id="inputPassword" placeholder="Password" />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" ng-model="vm.password2" id="inputPassword2" placeholder="Confirm Password" />
                </div>

                <div class="irc-error" ng-show="vm.error" style="padding-bottom: 10px;">
                    <strong>{{ vm.error }}</strong>
                </div>

                <button type="submit" class="btn" ng-click="vm.register()" style="padding: 5px 40px;">Register</button>
            </form>
        </div>
    </div>
</div>
