
<div class="container irception">

    <span class="crumbs">
        / me        
    </span>

    <span class="crumbs pull-right">
        / u 
        <a ui-sref="user({ Username: vm.Session.Username })">/ {{ vm.Session.Username }}</a>
    </span>

    <hr class="hr-grid-top" />
    
    <!-- Channels -->
    <div class="row mod-section-row">
        <div class="col-md-3 mod-section">Channels</div>

        <div class="col-md-9 mod-section-contents">
            <table border="0" class="small-crumbs">
                <tbody>
                    <tr ng-repeat="channel in vm.Session.ChannelsVisited">
                        <td style="padding-right: 20px;">
                            <span class="crumbs">                                
                                / {{ channel.NetworkSlug }}
                                <a href="" ui-sref="channel({ networkSlug: channel.NetworkSlug, channelSlug: channel.ChannelSlug })">
                                    / {{ channel.ChannelSlug }}
                                </a>
                            </span>
                        </td>
                        <td>
                            <span class="channel-visit-time">
                                {{ channel.DateVisitDisplay }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- UserID -->
    <div class="row mod-section-row">
        <div class="col-md-3 mod-section">UserID</div>

        <div class="col-md-9 mod-section-contents">
            <p>{{ vm.Session.UserID }}</p>
        </div>
    </div>

    <!-- Signature -->
    <div class="row mod-section-row">
        <div class="col-md-3 mod-section">Signature</div>

        <div class="col-md-9 mod-section-contents">
            <div ng-hide="vm.Editing" ng-click="vm.editSignature()" style="cursor: pointer;">
                <span ng-hide="vm.Session.Signature">Click to add your signature</span>                
                <signature signature="vm.Session.Signature"></signature> 
            </div>

            <div ng-show="vm.Editing">
                <textarea ng-model="vm.SignatureEdited" id="signature" class="irception-signature"></textarea>
            
                <br />
                <button class="btn" ng-click="vm.saveSignature()">Save Signature</button>
                <button class="btn" ng-click="vm.cancelSignature()">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Actions -->
    <div class="row mod-section-row">
        <div class="col-md-3 mod-section">Actions</div>

        <div class="col-md-9 mod-section-contents">
            <button type="submit" class="btn" ng-show="vm.Session.UserID" ng-click="vm.logout()" style="padding: 5px 40px;">Log Out</button>
            <button type="submit" class="btn" ng-show="!vm.Session.UserID" ng-click="vm.login()" style="padding: 5px 40px;">Log In</button>
        </div>
    </div>

</div>