
<div class="container irception">

    <span class="crumbs">
        / u / {{ vm.Username }}        
    </span>

    <hr class="hr-grid-top" />

    <div class="row mod-section-row">
        <div class="col-md-3 mod-section">Registered</div>

        <div class="col-md-9 mod-section-contents">
            <p>{{ vm.User.DateRegisteredDisplay }} &nbsp;</p>
        </div>
    </div>

    <div class="row mod-section-row">
        <div class="col-md-3 mod-section">Signature</div>

        <div class="col-md-9 mod-section-contents">
            <div class="user-signature">
                <br />
            </div>
        </div>
    </div>
</div>